@page
@model SerieFilme.Pages.Series.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1 style="color:white; text-shadow: 0.1em 0.1em 0.2em black">Detalhes</h1>

<div style="color:white; text-shadow: 0.1em 0.1em 0.2em black">
    <h4>Série</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.Epi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.Epi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.Temp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.Temp)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Serie.ID">Editar</a> |
    <a asp-page="./Index">Voltar a Lista</a>
</div>
