@page
@model SerieFilme.Pages.Series.IndexModel

@{
    ViewData["Title"] = "Séries";
}

<h1 style="color:white; text-shadow: 0.1em 0.1em 0.2em black">Séries</h1>

<p>
    <a asp-page="Create">Incluir série</a>
</p>

<form style="color:white; text-shadow: 0.1em 0.1em 0.2em black">
    <p>
        Gêneros: <select asp-for="SerieGenre" asp-items="Model.Genres">
            <option value="">Todos</option>
        </select>
        Título: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filtrar" />
    </p>
</form>

<table class="table" style="color:white; text-shadow: 0.1em 0.1em 0.2em black">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].Epi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].Temp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].ReleaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Serie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Epi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
